## BoxOffice-Revenue
by Hans Voll

This in an ongoing project intended to accurately predict box office revenue before the release date. This will involve data cleaning, exploration and visualization, and machine learning. The source data for this analysis is located as a dataset on the Kaggle website, and is titled "The Movies" by Rounak Banik. https://www.kaggle.com/rounakbanik/the-movies-dataset

### Preprocessing Checklist
- [ ] Read and format data
- [ ] Split validation and training sets
- [ ] Process null values
- [ ] Encode categorical data
- [ ] Build model
- [ ] ...

In [1]:
!ls

BoxOffice-Revenue.ipynb Untitled.ipynb
README.md               movies_metadata.csv

In [48]:
import numpy as np
import pandas as pd

df = pd.read_csv('movies_metadata.csv').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
adult                    45466 non-null object
belongs_to_collection    4494 non-null object
budget                   45466 non-null object
genres                   45466 non-null object
homepage                 7782 non-null object
id                       45466 non-null object
imdb_id                  45449 non-null object
original_language        45455 non-null object
original_title           45466 non-null object
overview                 44512 non-null object
popularity               45461 non-null object
poster_path              45080 non-null object
production_companies     45463 non-null object
production_countries     45463 non-null object
release_date             45379 non-null object
revenue                  45460 non-null float64
runtime                  45203 non-null float64
spoken_languages         45460 non-null object
status                   45379 non-null object
tagline                  20412 non-null object
title                    45460 non-null object
video                    45460 non-null object
vote_average             45460 non-null float64
vote_count               45460 non-null float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2683: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [73]:
import numpy as np
import pandas as pd

df = pd.read_csv('movies_metadata.csv')

def isnumber(x):
    try:
        float(x)
        return True
    except:
        return False

df = df[df.applymap(isnumber)]

df.head()
df["budget"] = pd.to_numeric(df["budget"])
#pd.to_numeric(df['budget'])

df.info()

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2683: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
adult                    0 non-null object
belongs_to_collection    3 non-null object
budget                   45463 non-null float64
genres                   0 non-null object
homepage                 0 non-null object
id                       45463 non-null object
imdb_id                  3 non-null object
original_language        3 non-null object
original_title           55 non-null object
overview                 0 non-null object
popularity               45460 non-null object
poster_path              0 non-null object
production_companies     0 non-null object
production_countries     3 non-null object
release_date             3 non-null object
revenue                  45460 non-null float64
runtime                  45203 non-null float64
spoken_languages         0 non-null object
status                   0 non-null object
tagline                  1 non-null object
title                    57 non-null object
video                    45460 non-null object
vote_average             45460 non-null float64
vote_count               45460 non-null float64
dtypes: float64(5), object(19)
memory usage: 8.3+ MB

In [46]:
import numpy as np
import pandas as pd

dateparse = lambda x: pd.datetime.strptime(x, '%Y-%m-%d')
dfOrig = pd.read_csv('movies_metadata.csv', parse_dates=['release_date'], date_parser=dateparse)



#df = pd.read_csv(infile, parse_dates=['datetime'], date_parser=dateparse)
    
    #na_values = ['[]', '0'], dtype={'budget':float}, parse_dates=['release_date']).info()
#dfOrig[0]
#, dtype={'budget': float})
'''print("original data:")
print(dfOrig.dtypes)
print(dfOrig.shape)
dfOrig.head()'''

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2683: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

TypeError: strptime() argument 1 must be str, not float

In [8]:
#Select needed columns to reduce DataFrame size
df = dfOrig[['title','revenue','genres','budget','runtime','release_date','popularity','vote_count','vote_average']]
print("selected data:")
print(df.dtypes)
dfInt.isnull()==True

selected data:
title            object
revenue         float64
genres           object
budget           object
runtime         float64
release_date     object
popularity       object
vote_count      float64
vote_average    float64
dtype: object

,title,revenue,genres,budget,runtime,release_date,popularity,vote_count,vote_average
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
45436,False,False,False,False,False,False,False,False,False
45437,False,False,False,False,False,False,False,False,False
45438,False,False,False,False,False,False,False,False,False
45439,False,False,False,False,False,False,False,False,False
45440,False,False,False,False,False,False,False,False,False
45441,False,False,False,False,False,False,False,False,False
45442,False,False,True,False,False,False,False,False,False
45443,False,False,False,False,False,False,False,False,False
45444,False,False,False,False,False,False,False,False,False
45445,False,False,False,False,False,False,False,False,False
45446,False,False,False,False,False,False,False,False,False
45447,False,False,True,False,False,False,False,False,False
45448,False,False,True,False,False,False,False,False,False
45449,False,False,False,False,False,False,False,False,False
45450,False,False,False,False,False,False,False,False,False
45451,False,False,False,False,False,False,False,False,False
45452,False,False,False,False,False,False,False,False,False
45453,False,False,False,False,False,False,False,False,False
45454,False,False,False,False,False,False,False,False,False
45455,False,False,True,False,False,False,False,False,False
45456,False,False,False,False,False,False,False,False,False
45457,False,False,False,False,False,False,False,False,False
45458,False,False,False,False,False,False,False,False,False
45459,False,False,False,False,False,False,False,False,False
45460,False,False,False,False,False,False,False,False,False
45461,False,False,False,False,False,True,False,False,False
45462,False,False,False,False,False,False,False,False,False
45463,False,False,False,False,False,False,False,False,False
45464,False,False,True,False,False,False,False,False,False
45465,False,False,True,False,False,False,False,False,False

In [4]:
#Format date from a string to a dateTime data type 
print("originial time format:")
print(type(df['release_date'][0]))
print(df['release_date'][0])

df['release_date'] = pd.to_datetime(df['release_date'], errors="ignore")
print("fixed time format:")
print(type(df['release_date'][0]))

originial time format:
<class 'str'>
1995-10-30
fixed time format:
<class 'str'>

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [5]:
#Fix 'genres' data type: convert stringified JSON object with multiple values, to a single value string 
from pandas.io.json import json_normalize
import ast

for i in range(100):
    x = df['genres'][i]
    if x == '[]':            #if there is no value,
        x = '[{\'id\':0,\'name\':\'NotListed\'}]' #enter 'NotListed' as a placeholder
    x = ast.literal_eval(x)  #convert stringified list of dictionaries to a list of dictionaries
    x = json_normalize(x)    #convert list of dictionaries (in JSON format) into a flat table
    x = x.loc[0, 'name']         #select first value under 'name' column
    df.loc[i, 'genres'] = x    #replace stringified JSON object with selected value

df.head(5)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

,title,revenue,genres,budget,runtime,release_date,popularity,vote_count,vote_average
0,Toy Story,373554033.0,Animation,30000000,81.0,1995-10-30,21.9469,5415.0,7.7
1,Jumanji,262797249.0,Adventure,65000000,104.0,1995-12-15,17.0155,2413.0,6.9
2,Grumpier Old Men,0.0,Romance,0,101.0,1995-12-22,11.7129,92.0,6.5
3,Waiting to Exhale,81452156.0,Comedy,16000000,127.0,1995-12-22,3.85949,34.0,6.1
4,Father of the Bride Part II,76578911.0,Comedy,0,106.0,1995-02-10,8.38752,173.0,5.7

In [6]:
#Filter out values that don't apply
print("original shape:")
print(df.shape)

df = df.dropna()
print("after dropping NaN values:")
print(df.shape)

df = df[df.revenue > 1000000]
print("after dropping low revenue values:")
print(df.shape)

df = df[df.budget > 100000]
print("after dropping low budget values:")
print(df.shape)

original shape:
(45466, 9)
after dropping NaN values:
(45130, 9)
after dropping low revenue values:
(6052, 9)

TypeError: '>' not supported between instances of 'str' and 'int'

##Explore data with various graphs

In [ ]:
from matplotlib import pyplot as plt
import seaborn as sns

#sns.set()
#plt.figure(figsize=(15,5))
#plt.xlim(1990-01-13,2017-01-01)
#sns.scatterplot(x='release_date', y='revenue', data = df)


#plt.show()

In [ ]:
df.sort_values(by=['revenue'],ascending=False).head(40)

In [ ]:
sns.set()
plt.figure(figsize=(15,5))
sns.scatterplot(x='budget', y='revenue', data = df)

plt.show()

In [ ]:
df.sort_values(by=['budget'], ascending=False).head(40)

In [ ]:
sns.set()
plt.figure(figsize=(15,5))
sns.regplot(x='vote_average', y='revenue', data = df)

plt.show()

In [ ]:
df.sort_values(by=['vote_average'],ascending=False).head(40)

In [ ]:
sns.set()
plt.figure(figsize=(15,5))
sns.scatterplot(x='popularity', y='revenue', data = df)
plt.xlim(0, 40)
plt.show()

In [ ]:
df.sort_values(by=['popularity'],ascending=False).head(40)

In [ ]:
sns.set()
plt.figure(figsize=(15,5))
sns.scatterplot(x='runtime', y='revenue', data = df)
plt.xlim(50,200)
plt.show()

In [ ]:
sns.set()
plt.figure(figsize=(15,5))
sns.regplot(x='vote_count', y='revenue', data = df)

plt.show()

In [ ]:
df.sort_values(by=['vote_count'],ascending=False).head(40)

In [ ]:
sns.set()
plt.figure(figsize=(15,5))
sns.regplot(x='vote_count', y='vote_average', data = df)

plt.show()

In [ ]:
sns.set()
plt.figure(figsize=(15,5))
sns.scatterplot(x='vote_count', y='popularity', data = df)

plt.show()

In [ ]:
y = df.revenue
features = ['vote_count','revenue','runtime']
X = df[features]

In [ ]:
from sklearn.tree import DecisionTreeRegressor
revenue_model = DecisionTreeRegressor(random_state=1)
revenue_model.fit(X, y)

In [ ]:
print("predicting first 25 movies:")
print(X.head(25))
print("Predictions are $$$..")
print(revenue_model.predict(X.head(25)))

In [ ]:
df['title'].head(25)

In [ ]:
#Calculate mean absolute error (MAE) without splitting into training and validation data
from sklearn.metrics import mean_absolute_error

predicted_revenue = revenue_model.predict(X)
mean_absolute_error(y, predicted_revenue)

In [ ]:
#Split into training('train_') and validation('val_') data, then recalculate MAE.
from sklearn.model_selection import train_test_split
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=1)
revenue_model = DecisionTreeRegressor()
revenue_model.fit(train_X, train_y)
val_predictions = revenue_model.predict(val_X)
print(mean_absolute_error(val_y, val_predictions))

In [ ]:
dfOrig.head()